In [ ]:
# pip install pandas

In [1]:
# Importa la libreria pandas (pd)
import pandas as pd

In [2]:
# Legge il file 'data.csv' caricato in 'sample_data' e lo salva in df (DataFrame); df Ã¨ un dataset
df = pd.read_csv('sample_data/data.csv')

In [3]:
# Mostra le prime 30 righe del dataset
df.head(30)

    durata        data  pulsazione  pulsazione_max  calorie
0       60  2020/12/01         110             130    409.1
1       60  2020/12/02         117             145    479.0
2       60  2020/12/03         103             135    340.0
3       45    20201204         109             175    282.4
4       45  2020/12/05         117             148    406.0
5       60  2020/12/06         102             127    300.0
6       60  2020/12/07         110             136    374.0
7      450  2020/12/08         104             134    253.3
8       30  2020/12/09         109             133      NaN
9       60  2020/12/10          98             124    269.0
10      60  2020/12/11         103             147    329.3
11      60  2020/12/12         100             120    250.7
12      60  2020/12/12         100             120    250.7
13      60  2020/12/13         106             128    345.3
14      60  2020/12/14         104             132    379.3
15      60  2020/12/15          98             123    275.0
16      60  2020/12/16          98             120    215.2
17      60  2020/12/17         100             120    300.0
18      60  2020/12/19         103             123    323.0
19      45  2020/12/20          97             125    243.0
20      60  2020/12/21         108             131    364.2
21      45         NaN         100             119    282.0
22      60  2020/12/23         130             101    300.0
23      45  2020/12/24         105             132    246.0
24      60  2020/12/25         102             126    334.5
25      60  2020/12/26         100             120    250.0
26      60  2020/12/27          92             118      NaN
27      60  2020/12/29         100             132    280.0
28      60  2020/12/30         102             129    380.3
29      60  2020/12/31          92             115    243.0

In [ ]:
# 1) Cancella le righe che contengono celle vuote e restituisce un nuovo DataFrame
# df_2 = df.dropna()

In [ ]:
# 2) Cancella le righe che contengono celle vuote direttamente nel DataFrame
df.dropna(inplace = True)

In [ ]:
# Correggere celle vuote

In [ ]:
# Calcola la media dei valori della colonna 'calorie'
media = df['calorie'].mean()
media

311.937037037037

In [ ]:
# Calcola la mediana dei valori della colonna 'calorie'
mediana = df['calorie'].median()
mediana

300.0

In [ ]:
# Calcola la moda dei valori della colonna 'calorie'
moda = df['calorie'].mode()[0]
moda

300.0

In [ ]:
# Sostituisce le celle vuote della colonna 'calorie' con il valore contenuto in media (oppure mediana o moda)
df['calorie'].fillna(media, inplace = True)

In [ ]:
df.head(30)

In [ ]:
# Correggere dati mancanti

In [ ]:
# Cerca di correggere la colonna 'data'
df['data'] = pd.to_datetime(df['data'])

In [ ]:
df.head(30)

In [ ]:
# Cancella le righe con date mancanti (NaT)
df.dropna(subset = ['data'], inplace = True)

In [ ]:
# Correggere i dati errati

In [ ]:
# Modifica la colonna 'durata' alla riga 7
df.loc[7, 'durata'] = 45

In [ ]:
# Ricerca di duplicati

In [ ]:
# Cerca righe duplicate
df.duplicated()

In [ ]:
# Cancella le righe duplicate (direttamente nel dataframe)
df.drop_duplicates(inplace = True)

In [4]:
# Salva il dataset senza errori
df.to_csv('sample_data/data_clean.csv', sep = ';', index = False)